* {padding: 0;margin: 0;font-size: 12px}
ul,li {list-style-type: none}
a {color: #666666;text-decoration: none}
a:hover {color: orangered}
.clear {clear: both}
.a-color {
    color: orangered;
}
img { border: none}
/*头部样式*/
#big-top {
    width: 100%;
    background-color: #f3f3f3;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #dddddd;
}
#big-top .top-box {
    width: 1200px;
    margin:auto;
}
#big-top .tp-left {
    float: left;
}
#big-top .tp-right {
    float: right;
    color: #999999;
}
/*logo与搜索框样式*/
#big-title {
    width: 100%;
    border-bottom: 3px solid #cb0000;
}
#big-title .title-box {
    width: 1200px;
    margin: auto;
}

#big-title .ls-left,#big-title .ls-right {
    float: left;
}

/*logo样式*/
#big-title .ls-left {
    width: 570px;
    height: 110px;
}
#big-title .ls-left .ls-l {
    float: left;
}
#big-title .ls-left .logo {
    width: 320px;
    text-align: right;
}
#big-title .ls-left .logo img {
    width: 70%;
    margin-top: 15px;
    margin-right: 20px;
}

#big-title .ls-left .city .city-name {
    margin-top: 50px;
    font: 14px 'Microsoft YaHei';
    cursor: pointer;
}

#big-title .ls-box .fa {
    margin-left: 5px;
    vertical-align: top;
}


/*搜索样式*/
#big-title .ls-right {
    width: 630px;
    height: 110px;
}

#big-title .ls-right .s-b {
    width: 520px;
    height: 35px;
    border: 3px solid orangered;
    position: relative;
}
#big-title .ls-right .sub {
    position: absolute;
    right: 0;
    top:0;
    background-color: orangered;
    height: 35px;
    width: 100px;
    color: #ffffff;
    font: 16px 'Microsoft YaHei';
    border: none;
    cursor: pointer;
    outline: none;/*去除获取焦点的边框*/
}
#big-title .ls-right .sub:hover {
    background-color: #e34500;
}
#big-title .ls-right .fa-search {
    position: absolute;
    left: 3px;
    top:5px;
    font-size: 22px;
    color: #aaaaaa;
}

#big-title .ls-right .txt {
    width: 380px;
    margin-left: 35px;
    height: 35px;
    line-height: 35px;
    border: none;
    outline: none;
    font: 14px 'Microsoft YaHei';
}

#big-title .ls-right .key {
    padding-top: 7px;
    color: #999999;
}

#big-title .ls-right .sh .list {
    float: left;
}
#big-title .ls-right .sh .gj-span {
    margin-top: 12px;
    display: inline-block;
    margin-left: 7px;
    cursor: pointer;
}

/*主导航样式*/
#big-title .th-box .fa {
    margin-right: 8px;
}
#big-title .th-left,#big-title .th-right {
    float: left;
}
#big-title .th-box .th-left {
    background-color: #cb0000;
    width: 210px;
    color:#eeeeee;
    font: 18px 'Microsoft YaHei';
    height: 40px;
    line-height: 40px;
    padding-left:20px;
    box-shadow: 2px 0 3px #aaa;
}
#big-title .th-box .th-right {
    height: 40px;
    line-height: 40px;
}
#big-title .th-box .th-right .list {
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#big-title .th-box .th-right  a {
    font: 16px 'Microsoft YaHei';
}
#big-title .th-box .th-right .a-hover {
    color: #b70000;
}
#big-title .th-box .lt-box {
    background-color: #f3f3f3;
    border-bottom: 1px solid #dddddd;
    width: 968px;
    position: absolute;
    top: 40px;
    left: -100px;
    border-top:3px solid #cb0000;
    display: none;
}
#big-title .th-box .lt-l {
    float: left;
    width: 100px;
    text-align: center;
}
#big-title .th-box .lt-l a {
    font-size: 14px;
}
#big-title .th-box .fa-sort-asc {
    position: absolute;
    left:45px;
    bottom: -11px;
    font-size: 18px;
    color: #cb0000;
    display: none;
}
#big-title .th-box .th-right .list:hover>a {
    color: #b70000;
}
#big-title .th-box .th-right .list:hover .lt-box,#big-title .th-box .th-right .list:hover .fa-sort-asc {
    display: block;
}


/*banner条样式*/
#big-info {
    background:url("../images/index_bg_with_voice.jpg") no-repeat top center;
}
#big-info .info-box {
    width: 1200px;
    margin:0 auto;
}
#big-info .info-left {
    width: 228px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-top:none;
}
#big-info .info-left .list {
    padding: 10px;
    height: 87px;
    overflow: hidden;
}
#big-info .info-left .fa {
    margin-right: 8px;
}
#big-info .info-left .title {
    font: 18px 'Microsoft YaHei';
    color: #666666;
    padding-bottom: 8px;
}
#big-info .info-left .key {
    line-height: 22px;
}
#big-info .info-left .key a {
    white-space: nowrap;
}

#big-info .info-right {
    width: 968px;
}

#big-info .info-left,#big-info .info-right {
    float: left;
}

#big-info .info-right .rt-top {
    height: 350px;
}

#big-info .info-right .rt-top img {
    width: 100%;
    height: 100%;
}

#big-info .info-right .rt-l {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 237px;
    height: 78px;
    overflow: hidden;
}
#big-info .info-right .rt-l img {
    width: 100%;
}
