@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;font-size:12px;}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";	color:#666;	background:#fff;_background-image:url(about:blank);	_background-attachment:fixed}
h1{font:20px "microsoft yahei","\5b8b\4f53"}
h2,h3{font-size:14px}
h4,h5,h6{font-size:12px}
em{font-style:normal;}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{
	border:0;
	padding:0
}
ol,ul{list-style:none}
table{empty-cells:show}

:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}

a:link,a:visited{color:#666;text-decoration:none}a:hover{color:#ff9900;}a:active{color:#cc6600}

a img{border:0}img{vertical-align:middle}

/* 显示隐藏控制 */
.block{display:block;overflow:hidden}
.hide{display:none;}
.invisible{visibility:hidden}

/* 布局 */
.w{width:990px;margin:0 auto}
.w1{margin-bottom:10px}
.fl{ float:left;}
.fr{ float:right;}

.ac{text-align: center;}
.al{text-align: left;}
.ar{text-align:right;}
.vt{vertical-align: top;}
.vm{vertical-align: middle;}
.vb{vertical-align: bottom;}

.clr{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-table}*html .clearfix{height:1%}.clearfix{display:block}*+html .clearfix{min-height:1%}
.overflow{overflow:hidden}

.m,.mt,.mc,.mb,.sm,.smt,.smc,.smb{overflow:hidden;zoom:1}
.m,.sm{	margin-bottom:10px}
.mt,.smt{cursor:default}
.mt h2,.smt h3{font-family:"microsoft yahei"}
.m .mt .extra a:link,.m .mt .extra a:visited,.sm .smt .extra a:link,.sm .smt .extra a:visited{color:#005EA7}

.lh{overflow:hidden;zoom:1}.lh li,.lh dl,.lh .item{float:left}
.ld{position:relative;zoom:1}.ld s,.ld b,.ld .block{position:absolute;overflow:hidden}

.form label,.form input,.form select,.form textarea,.form button,.form .label{float:left;font-size:12px}

.tab{overflow:hidden;zoom:1}
.tab li,.tab a,.tab-item{float:left;text-align:center}

.btn-img,.button{display:inline-block;margin:0;padding:0;border:0;text-align:center;cursor:pointer}
.btn-text{margin:0;padding:0;text-align:center;cursor:pointer}

/* 首页、专题页图片显示样式 */
.imgBox{width:130px;height:170px; overflow:hidden; vertical-align:middle; text-align:center; background:url('/correcting/style/images/index/bg_cover_130.png') no-repeat;}
.imgBox img{width:120px;height:160px;margin:4px 0 0 -2px; cursor:pointer;}
.itemAttrs{width:100%;text-align:center;}
.p-img,.p-name,.p-price,.p-market,.p-detail{overflow:hidden}
.p-img{padding:5px 0}.p-img a:link,.p-img a:visited{text-decoration:none}.p-img .pi{cursor:pointer}
.p-name{color:#666; font:normal 13px/30px 'microsoft yahei';max-height:30px; width:130px;}
.p-name,.p-detail{word-break:break-all;	word-wrap:break-word}
.p-price{color:#999;letter-spacing:1px; font:normal 12px/20px 'verdana';}
.p-price strong{letter-spacing:0;color:#E4393C;font:bold 14px/20px 'verdana';}

/* 定位 */
.posr{position:relative;}
.posa{position:absolute;}
/* 强制换行 */
.break-word{word-wrap: break-word; word-break:break-all;}
/* 强制不换行 */
.nowrap{white-space:nowrap; }
.wait{margin:10px auto; text-align:center; vertical-align:middle;}
.wait-text{height:66px; line-height:66px; vertical-align:bottom; text-align:left; padding-left:10px; display:inline-block; }

.bd_e6{ border:1px solid #e6e6e6;}

/*边距*/
.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px}
.pl10{padding-left:10px}
.pr5{padding-right:5px}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb10{margin-bottom:10px;}
.ml8{margin-left:8px;}

/*字体*/
.fs12{ font-size:12px;}
.fs14{ font-size:14px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs24{font-size:24px;}
.fs30{font-size:30px;}
.fs36{font-size:36px}
.fb{font-weight:bold}
.ff-ya{font-family:"微软雅黑"}
/*颜色*/
.grey{ color:#717171;}
.orange{ color:#fba01e;}
.red{color:#ff0000;}
/*长度高度*/
.w185{width:185px;}
.h95{height:95px}
.h105{height:105px}
.h165{ height:165px;}
.h130{ height:130px; _height:115px;}

/* 布局样式 */
.layout-left{float:left; width:155px}
.layout-right{float:right; width:795px; border:1px solid #e6e6e6;}
h1{ color:#676767; font-weight:bold; font-size:14px; line-height:30px; text-indent:15px; font-family:"宋体";}
.title{border-bottom:3px solid #006633;}
.title-fwb{ height:34px; color:#676767; font-size:14px; position:relative; border-bottom:3px solid #006633;}
.title-green{ color:#039f47; font-size:16px; margin-right:5px;}
.first_letter{ float:left; background:url(../img/floor_title_bg.png) center left no-repeat; display:inline-block; height:37px; color:#676767s; font:bold 14px "microsoft yahei";  text-align:center; position:absolute; left:0; top:0; padding-left:14px; _padding-left:7px;}
/* 首页返回顶部&&调查问卷浮动样式 */
/*#toppanel{position:relative;z-index:1000}*/
#sidepanel{position:fixed;bottom:0;right:0;z-index:100;}
#sidepanel a,#sidepanel b{background-image:url(/correcting/style/images/index/icon-multiple.png);background-repeat:no-repeat}
#sidepanel .gotop{display:block;position:relative;width:23px;height:35px;padding:28px 4px 0;margin:5px 0;text-align:center;line-height:14px;text-decoration:none}
#sidepanel .research{display:block;position:relative;width:17px;height:80px;padding:10px 4px 0;margin:5px 0;text-align:center;line-height:14px;text-decoration:none}

#sidepanel b{position:absolute;top:9px;left:4px;width:17px;height:16px;overflow:hidden}
#sidepanel a:link,#sidepanel a:visited{background-position:-32px -253px}
#sidepanel a:hover,#sidepanel a:active{background-position:0px -253px}
#sidepanel .gotop:link b,#sidepanel .gotop:visited b{background-position:-32px -253px}
#sidepanel .gotop:hover b,#sidepanel .gotop:active b{background-position:0px -253px}
#sidepanel .research:link b,#sidepanel .research:visited b{background-position:0 -219px}
#sidepanel .research:hover b,#sidepanel .research:active b{background-position:0 -200px}
*html #sidepanel{position:absolute;top:~"expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight+40)";overflow:visible}

/*----------shortcut-----------*/
#shortcut .fl b,#shortcut .fr b{background-image:url(/correcting/style/images/index/icon-multiple.png);background-repeat:no-repeat}
#shortcut,#shortcut .w{height:30px;background:#F7F7F7}
#shortcut{width:100%;border-bottom:1px solid #eee;line-height:30px}
#shortcut li{height:30px;padding:0 11px 0 12px}
#shortcut li s{top:9px;left:0;width:0;height:12px;border-left:1px solid #DDD;overflow:hidden}
#shortcut b{transition:transform .2s ease-in 0s}
#shortcut .fl{overflow:visible}
#shortcut .fl .fore1{padding-left:16px;z-index:1}
#shortcut .fl b{top:8px;left:0;width:13px;height:13px;background:url(/correcting/style/images/index/icon-favorite.png) no-repeat 0 0;cursor:pointer}
#shortcut .fl li:hover b{transform:rotate(720deg)}
#shortcut .fl .jtip{left:68px;top:6px;width:120px;line-height:16px}
#shortcut .fr{height:30px;overflow:visible}
#shortcut .fr b{top:13px;right:8px;width:7px;height:4px;background-position:-95px -55px}
#shortcut .menu{width:100px;z-index:101;}
#shortcut .dd{display:none}
#shortcut .hover .outline,#shortcut .hover .dd{position:absolute;border:1px solid #DDD;background:#fff;-moz-box-shadow:0 0 10px #DDD;-webkit-box-shadow:0 0 10px #DDD;box-shadow:0 0 10px #DDD}
#shortcut .hover .outline{z-index:-1;left:5px;top:3px;width:73px;height:28px}
#shortcut .hover .blank{position:absolute;z-index:1;top:25px;left:6px;width:73px;height:6px;overflow:hidden;background:#fff}
#shortcut .hover .dd{display:block;top:30px}
#shortcut .fr .hover b{transform:rotate(180deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)}
#my-service.hover .dd,#other-service.hover .dd{left:5px;width:73px}
#my-service.hover .dd div,#other-service.hover .dd div{padding-left:6px;line-height:22px}
#shortcut #mobile-subscibe{width:60px;text-align:right;}
#shortcut #special_order{width:75px;text-align:right;}
#shortcut #mobile-subscibe a i{background:url(../img/icon-mobile.png) no-repeat; cursor:pointer; width:14px; height:19px; position:absolute; display:inline-block; top:4px; left:7px;}
#shortcut #special_order a i{background:url(../img/icon-order.png) no-repeat; cursor:pointer; width:17px; height:19px; position:absolute; display:inline-block; top:4px; left:7px;}
/*----------header-----------*/
#header .logo{float:left; height:80px; vertical-align:middle;}
#header .hot{ float:right; color:#6a7073; width:435px; line-height:18px; _margin-top:-8px; color:#6a7073; margin-top:5px;}
#header .hot strong{font-weight:400;}
#header .hot strong,#header .hot a:link,#header .hot a:visited{color:rgb(153,153,153);}
#header .hot a{padding:0 3px;}
#header .hot a:hover{ color:#ffc610;}
/*#header .search{float:right;width:590px;background:url(../images/search.jpg) no-repeat}*/
#header .search{float:left;width:439px;margin:20px 0 0 60px;height:50px;margin-top:20px;height:29px;background:url(../img/search.jpg) no-repeat}
#header .query{float:left;margin:3px 0 0 44px;width:322px;height:22px; line-height:22px; border:none;vertical-align:middle;background-color: #fff;background-repeat: repeat-x;color: #999;font-family: arial, "\5b8b\4f53";font-size: 14px; }
#header .query:focus{background-color:rgb(252,252,252);}
#header .search_button{float:left;background:none;border-style:none;cursor:pointer;display:block;height:27px;width:70px;}
/* shelper */
#shelper .item-selected {background-color: #ffc610;}
#shelper {overflow: hidden;	position: relative;	margin-left:1px;width: 365px;border: 1px solid #d6d6d6;	background: #fff;-moz-box-shadow: 0 0 5px #d6d6d6;-webkit-box-shadow: 0 0 5px #d6d6d6;box-shadow: 0 0 5px #d6d6d6;z-index:100; clear:both;}
#shelper li {overflow: hidden;padding: 1px 6px;line-height: 22px;cursor: pointer;}
#shelper .search-item {float: left;width: 250px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
#shelper .search-count {overflow: hidden;color: #aaa;text-align: right;*zoom: 1;}
#shelper .close {border-top: 1px solid #efefef;text-align: right;}
#shelper li:hover {background: #ffc610;}
#shelper li.close:hover {background: none;}


/*----------nav-----------*/
#nav{clear:both;display:block;width:100%;height:35px;background:#03772a;}
#nav .menu{width:990px;height:35px;line-height:35px;margin:0 auto;background:#03772a;position:relative;overflow:hidden;}
#nav .menu li{ float:left; height:35px; overflow:hidden;list-style:none;font-family:"微软雅黑";font-size:14px; margin-right:1px;}
#nav .menu li a{color:#fff;padding:0 18px;}
#nav .menu li a:hover{display:block;color:#fff;background:url(/correcting/style/images/nav.jpg) repeat-x;}
#nav .menu .on{ display:block;background:url(/correcting/style/images/nav.jpg) repeat-x; border-left:1px solid #0b581e; border-right:1px solid #0b581e;}
.emptycart{border:1px solid #d0d9d3;height:100%; margin:0px auto; padding-left:100px;}

/*------报刊全部分类导航-----*/
#categorys{ position:relative; z-index:100; width:180px;}
#categorys .mt{line-height:30px; width:180px; border:1px solid #e6e6e6; font-size:14px;}
#categorys .mt .title{border-bottom:3px solid #006633; background:url(/correcting/style/images/title.jpg) no-repeat; padding-left:10px; border-bottom:none; height:31px; font-size:12px;}
#categorys .mc{width:180px;height:257px;padding:4px 0 3px 0;border:solid #e6e6e6;border-width:0 1px 1px;overflow:visible;}
#categorys .item{height:28px;line-height:28px;color:#666666; border-bottom:1px solid #d1d1d1;}
#categorys .fore1{border-top:0;}
#categorys span{display:block;width:180px;position:absolute;}
#categorys h3{height:28px;line-height:28px;text-indent:30px;font:bold 14px "microsoft yahei";}
#categorys h3 a:link,#categorys h3 a:visited{color:#949494; line-height:29px;}
#categorys h3 a:hover{color:#fff;font-weight:700;}
#categorys s{display:block;position:absolute;top:5px;left:110px;background:url(/correcting/style/images/hm-more.png) no-repeat; width:20px; height:19px}
#categorys .item .i-mc{display:none;position:absolute;left:180px;top:0px;width:602px;border:1px solid #fba01e;background:#fff;overflow:visible;-moz-box-shadow:0 0 10px #DDD;-webkit-box-shadow:0 0 10px #DDD;box-shadow:0 0 10px #DDD;}
#categorys .item dt{padding:3px 6px 0 0;font-weight:700;color:#FF9900}
#categorys .item dd{padding:3px 0 0;overflow:hidden;zoom:1;}
#categorys .subitem{float:left;width:595px;min-height:296px;padding:0 4px 0 4px;}
#categorys .subitem dl{border-top:1px solid #EEE;padding:6px 0;overflow:hidden;zoom:1;}
#categorys .subitem .fore1{border-top:0;}
#categorys .subitem dt{float:left;width:54px;line-height:22px;text-align:right;}
#categorys .subitem dd{float:left;width:535px;}
#categorys .subitem em{float:left;height:14px;margin:4px 0;line-height:14px;padding:0 8px;border-left:1px solid #ccc;}
#categorys .subitem dt a{color:#ff9900;text-decoration:underline;}
#categorys .subitem dd a{white-space:nowrap;}
/*#categorys .fr{width:210px;padding-bottom:2010px;margin-bottom:-2000px}#categorys .fr dl{width:194px;padding:6px 8px;}
#categorys .fr a{color:#666}#categorys .fr dd{padding-top:6px;line-height:20px;overflow:hidden;}
#categorys .fr img{margin-bottom:4px;}
#categorys .categorys-brands li{float:left;width:97px;}
#categorys .mc .extra{display:none;}
#categorys .close{position:absolute;top:-1px;left:706px;z-index:14;width:26px;height:26px;background:rgba(0,0,0,.6);text-align:center;line-height:26px;color:#fff;cursor:pointer;font-size:26px;background-color:transparent\9;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000')}
#categorys .loading-style1{margin-top:10px;}
#categorys .fore1 .categorys-brands li,#categorys .fore13 .categorys-brands li{width:194px;}
#categorys .fore13 .i-mc{top:23px}*/
#categorys .hover span{z-index:13;width:180px;}
#categorys .hover h3{border:solid #DDD;border-width:1px 0;background-color:#fba01e;overflow:hidden;-moz-box-shadow:0 0 8px #DDD;-webkit-box-shadow:0 0 8px #DDD;box-shadow:0 0 8px #DDD;}
#categorys .hover h3 a{color:#fff;}
#categorys .hover s{left:180px;top:1px;width:3px;height:26px;background:#fff;overflow:hidden;}
#categorys .fore1.hover s{top:1px;}
#categorys .hover .i-mc{display:block;z-index:12;}
#categorys.hover .mt b{background-position:-65px -23px;}
#categorys.hover .mc{display:block;}
*html #categorys .item dd{padding-bottom:6px;}
*html #categorys .subitem{height:260px;}


/* 热卖&畅销推荐、报刊排行榜&推荐报刊外部框架样式 */

.rank{width:180px;height:537px;overflow:hidden;}

/*--------------热卖商品&报刊订阅排行公共样式------------------*/
.rank .hd{height:30px; width:180px; line-height:30px; background:url("/correcting/style/images/rank/bg_detail_side.png") repeat-x rgb(246,246,246);}
.rank .bd{padding:3px 8px 10px 12px;border:1px solid #e6e6e6; height:485px;}
/*.ico_rankNum{background:url("/correcting/style/images/rank/ico_rank_num1.png") no-repeat center; width:12px;height:13px;}
.num1{background-image:url("/correcting/style/images/rank/ico_rank_num1.png");}
.num2{background-image:url("/correcting/style/images/rank/ico_rank_num2.png");}
.num3{background-image:url("/correcting/style/images/rank/ico_rank_num3.png");}
.num4{background-image:url("/correcting/style/images/rank/ico_rank_num4.png");}
.num5{background-image:url("/correcting/style/images/rank/ico_rank_num5.png");}
.num6{background-image:url("/correcting/style/images/rank/ico_rank_num6.png");}
.num7{background-image:url("/correcting/style/images/rank/ico_rank_num7.png");}
.num8{background-image:url("/correcting/style/images/rank/ico_rank_num8.png");}
.num9{background-image:url("/correcting/style/images/rank/ico_rank_num9.png");}
.num10{background-image:url("/correcting/style/images/rank/ico_rank_num10.png");}*/
.ico_rankNum{background:url("/correcting/style/images/20130131B.png") no-repeat center; width:19px;height:22px; text-align:center; color:#FFF; font:normal 12px 'microsoft yahei'}
.ico_rankNum_1{background:url("/correcting/style/images/20130131A.png") no-repeat center; width:19px;height:22px; text-align:center; color:#FFF; font:normal 12px 'microsoft yahei'}
/*.hoverList{width:130px; line-height:20px; overflow:hidden;text-overflow:ellipsis;}*/
.hoverList{width:145px;padding:10px 5px; text-overflow:ellipsis;}
.hoverList .item{width:145px;border-bottom:1px dashed #c6c6c6;padding:5px 0px 5px 0px; line-height:24px;}
.hoverList .item s{position:absolute; left:60px; top:15px; background:url('/correcting/style/images/hot_orange.gif'); width:50px; height:32px;}
.hoverList .itemTit{margin-left:30px;}
.hoverList .itemContain{margin:0 10px; text-align:center; width:130px;}
.hoverList .itemAttrs{width:100%;}
.hoverList .itemAttrs p{line-height:22px;}
/* 样式修改 */
.hoverList .imgBox{width:80px;height:100px;overflow:hidden; text-align:center; vertical-align:middle;margin:7px 25px;background:url('/correcting/style/images/index/bg_cover_80.png') no-repeat;}
.hoverList .imgBox img{width:70px;height:90px; margin:4px 0 0 -3px; cursor:pointer;}
.hoverList li{width:180px;line-height:18px; margin-bottom:9px; color:#666;}
.hoverList .bk_num{ float:left; color:#fff; background:#039f47;width:14px; height:14px; text-align:center; line-height:14px; margin-right:6px;}
.hoverList .bk_pic{ float:left; width:70px; height:90px; margin-right:5px;overflow:hidden;}
.hoverList .bk_info{float:left; width:60px; overflow:hidden;}
.hoverList .bk_info img{ margin-left:10px;}
.hoverList .bk_info h2,.hoverList .bk_info h3{font-size:100%; font-weight:normal;}
.hoverList .bk_info h2{width:55px;white-space:nowrap;text-overflow:ellipsis; overflow:hidden;}
.hoverList .fl-num{display: block;float: left;width: 20px;text-align: center; border:1px solid #b8b8b8; color:#b8b8b8; margin-right:5px;}

/*--------底部导航区---------*/
#service{overflow:hidden;padding:10px 40px;border-top:1px solid #ddd; border-bottom:1px solid #e6e6e6; font:normal 12px "宋体"; color:#666;background:#ffffff;}
#service dl{float:left; width:180px;}
#service dl dt{padding:6px 0px 6px 40px;font:normal 14px "microsoft yahei"; position:relative;zoom:1;}
#service dl dt b{background:url(/correcting/style/images/index/icon-multiple.png) no-repeat;}
#service dd{padding-left:24px;margin-left:20px;line-height:20px}
#service dt b{position:absolute;top:5px;left:0;width:40px;height:40px}
#service dt strong{font-weight:bold;}
#service dl.fore1 b{background-position:0 -55px}
#service dl.fore5 b{background-position:-50px -55px}
#service dl.fore2 b{background-position:0 -102px}
#service dl.fore3 b{background-position:-50px -102px}
#service dl.fore4 b{background-position:0 -149px}
#service a{color:#666;}
#service a:hover{color:#ff6600;font-weight:bolder;}

/*---------版权声明----------*/
#copyright{width:100%; background:#F7F7F7; height:40px; text-align:center; overflow:hidden; font: 12px/22px "宋体"; color:#666; padding:5px 0px;}
/*page*/
.page{clear:both; position:relative; vertical-align:bottom; bottom:5px; color:#6E6E6E; font: normal 14px/20px "arial"; padding:5px 5px; text-align:right;}
.page a{color:#000; display:inline-block; padding:2px 4px}
.page .page_up,.page .page_dn{width:69px; height:21px; text-indent:-999px; overflow:hidden; padding:0; display:inline-block; background:url("/correcting/style/images/page_bg.gif") no-repeat; position:relative; top:3px; _top:-3px;}
.page .page_up{background-position:left top}
.page .page_dn{background-position:left -28px}
.page .page_go{width:42px; height:21px; text-indent:-999px; overflow:hidden; padding-left:5px; display:inline-block; background:url("/correcting/style/images/page_bg.gif") left -50px no-repeat; position:relative; top:3px; _top:-3px;}
.page_in{height:20px; line-height:20px; padding:0 2px;}



/*轮播广告位
.banner{z-index:99;margin:0px auto;width:1038px;height:500px;}
.banner_l,.banner_r{margin-top:207px; width:23px; float:left;}
.bannerImg{position:relative; width:990px; float:left;}
.bannerImg .bannerPage{position:absolute; top:450px; left:800px}
.bannerImg .bannerPage a{margin-right:2px;}
.bannerImg .bannerPage a img{vertical-align:middle}
.slides_container{position:relative; width:990px; overflow:hidden}
.pagination{margin:26px auto 0px}
.pagination li{margin:0px 1px; float:left}
.pagination li a{background-image:url(../images/pagination.png); width:15px; display:block; background-position:0px -1px; float:left; height:0px; overflow:hidden; padding-top:12px}
.pagination li.current a{background-position:0px -18px}**/

/*--面包屑--------*/
.breadcrumb{height:33px;line-height:33px;width:100%;float:left;background:#eee;}
.breadcrumb a{color:#666;}

/* 首页购物车 */
#carttips dt,#carttips dl.hover dt,#carttips .nogoods b{
	background-image:url(/correcting/style/images/index/icon-multiple.png);
	background-repeat:no-repeat
}

#carttips{
	float:right;
	position:relative;
	z-index:9;
	width:100px;
	height:30px;
	margin-top:19px
}

#carttips dt{
	position:absolute;
	z-index:3;
	width:45px;
	height:30px;
	padding:0 20px 0 30px;
	border:1px solid #EFEFEF;
	background-position:-115px -84px;
	background-color:#F7F7F7;
	cursor:pointer;
	text-align:center
}

#carttips dt .shopping{
	position:absolute;
	top:-13px;
	left:20px;
	background-image:url(/correcting/style/images/index/icon-multiple.png);
	background-position:-133px -279px;
	padding-left:6px;
	color:#fff
}

#carttips dt .shopping span{
	float:left;
	display:block;
	height:20px;
	padding-right:6px;
	background-image:url(/correcting/style/images/index/icon-multiple.png);
	background-position:100% -250px
}

#carttips dt a{
	line-height:27px;
	*line-height:30px
}

#carttips dt b{
	top:9px;
	right:4px;
	width:0;
	height:0;
	border-style:dashed dashed dashed solid;
	border-width:5px;
	border-color:transparent transparent transparent #CCC;
	overflow:hidden
}

#carttips dd{
	display:none;
	position:absolute;
	top:32px;
	right:3px;
	width:350px
}

#carttips dl.hover dt{
	height:32px;
	border:1px solid #E3E3E3;
	border-bottom:0;
	background-position:-115px -114px;
	background-color:#fff;
	-moz-box-shadow:0 0 10px #DDD;
	-webkit-box-shadow:0 0 10px #DDD;
	box-shadow:0 0 10px #DDD
}

#carttips dl.hover s{
	position:absolute;
	bottom:-10px;
	left:0;
	width:95px;
	height:10px;
	background:#fff
}

#carttips dl.hover dd{
	display:block;
	-moz-box-shadow:0 0 10px #DDD;
	-webkit-box-shadow:0 0 10px #DDD;
	box-shadow:0 0 10px #DDD
}

#carttips-content{
	position:relative;
	left:0;
	top:0;
	z-index:2;
	width:350px;
	background:#fff
}

#carttips .prompt{
	border:1px solid #ddd;
	padding:10px 15px;
	background:#fff
}

#carttips .nogoods{
	padding-left:30px;
	height:49px;
	line-height:49px;
	overflow:hidden;
	color:#999
}

#carttips .nogoods b{
	float:left;
	width:56px;
	height:49px;
	background-position:0 0
}

#carttips .sm{
	margin-bottom:0
}

#carttips .smt{
	height:25px;
	padding:6px 8px;
	background-position:0 -118px;
	background-repeat:repeat-x;
	border-style:solid;
	border-width:1px;
	border-color:#DDD #DDD #EEE;
	line-height:25px
}

#carttips .smt .extra{
	color:#999
}

#carttips .smc{
	border:solid #ddd;
	border-width:0 1px;
	background:#fff;
	height:auto!important;
	height:344px;
	max-height:344px;
	overflow-y:auto
}

#carttips ul{
	margin-top:-1px
}

#carttips li{
	padding:8px 10px;
	border-top:1px dotted #ccc;
	overflow:hidden;
	line-height:17px;
	vertical-align:bottom;
	*zoom:1
}

#carttips li:hover,#carttips li.hover{
	background:#F5F5F5
}

#carttips .p-img{
	width:50px;
	height:50px;
	border:1px solid #ddd;
	padding:0;
	margin-right:10px;
	font-size:0
}

#carttips .p-name{
	width:150px;
	height:52px
}

#carttips .p-price{
	font-weight:700
}

#carttips .delete{
	color:#005EA7
}

#carttips .smb{
	padding:8px;
	background:#F5F5F5;
	border:solid #ddd;
	border-width:0 1px 1px;
}

#carttips .smb b{
	margin:0 5px;
	color:#FF8600
}

#carttips .smb strong{
	font-size:18px;
	color:#FF8600;
}

#carttips .smb a{
	display:inline-block;
	width:120px;
	height:30px;
	margin-top:6px;
	background:#FF8600;
	color:#fff;
	text-align:center;
	font-weight:700;
	line-height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}

#carttips li .gift{
	height:17px;
	width:310px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

#carttips li .gift a,#carttips li .gift-jq{
	color:#999
}

#carttips .gift-jq{
	clear:both
}

*html #carttips .smc{
	height:344px
}

*html #carttips li{
	font-family:"\5b8b\4f53"
}

*html #carttips dd{
	right:-1px
}

#carttips .dt{
	padding:2px 10px
}

#carttips .dt-mz{
	color:#999;
	width:310px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}

#carttips .dt-mz a{
	color:#999
}

#carttips .dt-mz:hover{
	background:#fff
}

#mcart-suit .dt,#mcart-suit .dt:hover{
	background:#d3ebff
}

#mcart-mj .dt,#mcart-mz .dt,#mcart-mj .dt:hover,#mcart-mz .dt:hover{
	background:#bffab1
}

#carttips-content .fr .hl-green,#carttips-content .fr .hl-orange{
	margin-right:0
}

#carttips-content .hl-green,#carttips-content .hl-orange{
	margin-right:5px;
	color:#fff;
	display:inline-block;
	*zoom:1;
	padding:0 2px;
	font:12px/16px simsun
}

#carttips-content .hl-green{
	background:#3b0
}

#carttips-content .hl-orange{
	background:#f60
}