body,html{padding:0px; margin:0px; color:#333333; font-family:"宋体",Arial,Lucida,Verdana,Helvetica,sans-serif; font-size:14px; line-height:150%;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p,label,a{margin:0; padding:0; border:none; list-style-type:none;text-decoration:none;}
.clear {clear:both;}
a:hover{color:orangered}
a:visited{color:inherit;}
div {text-align: left;}


.top_menu{width:100%;height:40px;background: #F3F3F3;position: fixed;top:0px;left:0px;z-index: 100}
.top_menu span{width:100px;height:40px;line-height:40px;font-size:15px;font-weight:bold;vertical-align:middle;display: inline-block;}

.contain{width:1000px;margin:0px auto;}
.head{width:1000px;height:120px;margin-top:40px;}
.head .h_left{width:410px;height: 110px;margin: 5px;float:left;}
.h_left img{width:300px;height: 80px;vertical-align:middle}

.head .h_right{width:500px;height: 110px;margin: 5px;float:right;}

/*.search{width:470px;float: left;margin-left:10px;margin-top:10px;border: 3px solid #F93A03;position: relative;}*/
/*.search i{width: 30px;height: 40px; background: url('../images/search.jpg') no-repeat 1px 6px;display: inline-block;vertical-align: middle;float: left;}*/
/*.search .in-f{ width: 340px;height:40px; line-height: 40px;padding: 0;margin: 0;border:0px;float: left; outline:none;background: red}*/
/*.search .in-s{ width: 130px;height:40px;padding: 0;margin: 0;background:#F93A03;font:bold 20px '微软雅黑' ;color:white;border:0px;float: right;}*/


#cs-s {width:470px;margin-left: 10px;margin-top: 10px;}
#cs-s li {float: left;background: url('../images/search.jpg') no-repeat 2px 6px;}
#cs-s .txt {width: 315px;border: none;font-size: 14px;outline: none;height: 34px;line-height: 34px;*height:32px;*line-height: 32px;border:3px solid red;border-right:none;padding-left: 25px;background: url('');}
#cs-s .but {width: 126px;background:#F93A03;border: none;color: #fff;font-size: 14px;height: 42px;line-height: 42px;outline: none;}
#cs-s .but:active{background: #de3f00
}


.hot{width: 400px;height:30px;margin-top: 0px;margin-left:10px;float: left;}
.hot ul{float:left;}
.hot li{font-size: 12px;float:left;margin:5px;}
.hot li:hover{color:orangered}

.nav{width:100%;height:50px;border-bottom: 3px solid #BE201F;float:left;}

.menu .m_left{width:200px;height:50px;float:left;background: url('../images/cate.jpg');box-shadow:3px -3px 10px #888888}
.menu .m_right{width:800px;height:50px;float:left; position: relative;}
.menu .m_right ul{float:left;line-height: 50px;}
.menu .m_right .li{text-align: center;width:80px;float: left;font-size:14px;font-weight: normal;position: relative;}
.menu .m_right .li .fa-sort-asc{display: none;position: absolute;bottom:0;left:36px;}
.menu .m_right .li .l-s{float: left;width:700px;display: none;position: absolute;left:-80px;z-index:100;overflow: hidden;background: #BE201F}
.menu .m_right .li ul li{float: left;text-align: center;width:80px;background: #BE201F;}
.menu .m_right .li ul li:hover{/*background: #8B0000;*/background: white;color:black;}
.menu .m_right .li:hover{background: #BE201F;color:white;}
.menu .m_right .li:hover .l-s {display: block;}
.menu .m_right .li:hover .fa-sort-asc{display: block;}


.showlist{width: 100%;float: left;margin-bottom: 20px;}
.showlist .cate{width:200px;height: 400px;float: left;}
.showlist .cate .cate_details{width:100%;height:99px;border-top: 1px solid black;background: #F3F3F3;}
.showlist .cate .cate_details .cate_title{width:100%;height:45px;line-height: 45px;}

.cate .cate_details .cate_title i{background: url('../images/icon.png') no-repeat ;width:16px;height: 16px; display: inline-block;vertical-align: middle;}	
.cate .cate_details .cate_title i:hover{cursor:pointer ;}
.cate .cate_details .cate_title .one{background-position: 0 0;}
.cate .cate_details .cate_title .two{background-position: left -31px;}
.cate .cate_details .cate_title .three{background-position: left -62px;}
.cate .cate_details .cate_title .four{background-position: left -93px;}
.cate .cate_details .cate_title .one:hover{background-position: -25px 0 ;  }
.cate .cate_details .cate_title .two:hover{background-position: -25px -31px ;  }
.cate .cate_details .cate_title .three:hover{background-position: -25px -62px ;  }
.cate .cate_details .cate_title .four:hover{background-position: -25px -93px;  }
.cate .cate_details .cate_title span{vertical-align: middle;font-size: 16px;font-weight: bold;}
.cate .cate_details .cate_content{margin-top: 5px;width:100%;height:45px;}
.cate .cate_details .cate_content ul{padding: 0 5px;float: left;}
.cate .cate_details .cate_content li{width:25px;height:21px;float: left;margin: 0 5px;}

.showlist .adver{width:800px;height: 400px;float: right;/* border: 1px solid black; */position: relative;}
.showlist .adver .ad_pic {display: none;}
.showlist .adver .ad_pic img{width:800px;height: 320px;}
.showlist .adver .ad_show{display: block;}
.showlist .adver .ad_word {width:100%;height:40px;position:absolute;bottom:90px;left:0px;}
.showlist .adver .ad_word .word_box{width:190px;height:35px;line-height: 35px;background: rgba(255,255,255,0.7);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=90)";float: left;text-align: center;margin: 0 5px;cursor: pointer;}
.showlist .adver .ad_word .word_box:hover{background: rgba(0,0,0,0.8); color:#ffffff}
.showlist .adver .small_pic .sp-box{width:180px;height: 70px;position: relative;float: left;margin-left:15px;margin-top: 10px;overflow: hidden ; }
.showlist .adver .small_pic .sp-box img{width:180px;height: 70px;cursor: pointer}
/*.showlist .adver .small_pic .sp-box:hover{opacity: 0.5;}*/
.showlist .adver .small_pic .sp-box .img_shadow{width:180px;height: 70px;background: rgba(0,0,0,0.7);position:absolute ;color: red}


.content{width:100%;}
.content .content_title{width:100%;height:30px;border-bottom: 2px solid  #BE201F;position: relative;}
.content .content_title .t_left{height: 30px;vertical-align: top;float: left;width: 200px;}
.content .content_title .t_left .fa{ }
.content .content_title .t_right {float: right;}
.content .content_title .t_right span{height: 30px;line-height: 30px;margin: 0 10px;float: left;font-size: 16px;}
.content .content_detail{height:450px;background: yellowgreen;}

.top{position: fixed; bottom:20px; right: 20px; width: 60px; height:60px; border-radius: 50%; background: lightgray;z-index: 101 }
.top span{text-align: center;vertical-align: middle;height:40px;width:40px;margin: 10px;display:inline-block;}

#left_menu{  position: fixed;  z-index: 99;  }
#left_menu ul li{width:36px;background: #f3f3f3;margin: 5px;padding:2px;cursor: pointer;text-align: center}
#left_menu .lt-hover{background: orange}

#ad_box{
    width:100%;
    position: fixed;
    bottom:0;
    z-index: 100;
    height: 150px;
    margin: auto;
    background: rgba(0,0,0,0.5) bottom;
}
#ad_box .ad_close{
    background: url("../images/ad_close.png") no-repeat;
    width:39px;
    height:39px;
    margin-left: 100px;
    transform:rotate(-0deg);
    cursor: pointer;
}