body,html{padding:0px; margin:0px; color:#333333; font-family:"Microsoft YaHei",Arial,Lucida,Verdana,Helvetica,sans-serif; font-size:12px; line-height:110%;}
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p,label,a{margin:0; padding:0; border:none; list-style-type:none;text-decoration:none;}
.clear{ clear: both}
a:hover {color: orangered}
.header_icon{  background: url("../images/header_v3.png");    }
.menu_icon{  background: url("../images/menu_icon.png");      }
.cate_icon{  background: url("../images/index_icon_v2.png");  }
.index_icon{  background: url("../images/index_icon.png");  }
.slide_icon{  background: url("../images/next.png");  }
.credit{  background: url("../images/credit.png");  }
.menu_right_icon{  background: url("../images/rc_icon_all.png");  }
.fa{  color: #b9b9b9;  }
.more{color:#999;font-size: 12px;float: right;font-weight: 100;}
#top-ad{
    width: 100%;
    height: 60px;
    background-color: rgb(248, 248, 220);
    overflow: hidden;
    display: none;

}
#top-ad .ad-img{
    width:1200px;
    margin: auto;
    position: relative;
}
#top-ad .ad-img .ad-close{
    width:18px;
    height: 18px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../images/icon_close.png");
    cursor: pointer;
}
#top-ad .ad-img .ad-close:hover{background:black;opacity: 0.5;border-radius: 50%}
#top-ad .ad-img img{
    width:1200px;
    height: 60px;
}


#header{
    width:100%;
    height:157px;
    /*overflow: hidden;*/
}

#header .tp-bg,#header .hd-middle,#header .menu_box{
    width:1200px;margin: auto;
    position: relative;

}
#header .hd-top{
    background: #f8f8f8;
    border: 1px solid #eee;
}
#header .tp-bg{
    height:29px;
}
#header .hd-top .top-left,#header .hd-top .top-right{height:29px;line-height: 29px;}
#header .hd-top .top-left{
    width:200px;
    float:left
}
#header .hd-top .top-left span{padding:5px}
#header .hd-top .top-right{
    width:600px;
    float:right;
}
#header .hd-top .top-right  li{
    float:left;
    margin:0 10px;
}
#header .hd-top .top-right li:first-child img{
    width: 114px;
    height: 20px;
    padding-top: 2px;
}

#header .hd-top .top-right .nav_item_one{
    padding-left:22px;
    padding-right:5px;
    background: url("../images/oneyuan.gif") no-repeat ;
    position:relative;
    border: 1px solid #f8f8f8;
}
#header .hd-top .top-right .nav_item_one .dropdown-db{
    display:none;
    z-index: 500;
    position: absolute;
    top:29px;
    background: #ffffff;

}
#header .hd-top .top-right .nav_item_one i,#header .hd-top .top-right .nav_item_two i,#header .hd-middle .md-local i,#header .hd-middle .md-search  .high_sh i,#header .hd-menu .menu_box .mb_right .mn-li i{
    width:5px;
    height: 3px;
    display: inline-block;
    background-position: -8px -13px;
    vertical-align: middle;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map{
    display:none;
    width:1200px;
    height: 240px;
    background: #ffffff;
    padding-top: 20px;
    position:absolute;
    z-index: 500;
    top: 29px;
    left: 0;
    border: 1px solid #f3f3f3;
    border-top: none;
    overflow: hidden;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map  ul{
    float: left;
    width:100px;
    height:200px;
    padding-left: 15px;
    color: #666666;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map  ul li{
    margin-top: 2px;
    float: none;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .tour{
    float: left;
    width:419px;
    border-right: 1px solid #f3f3f3;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .tour .tr-left,#header .hd-top .top-right  .nav_item_two .dropdown-map  .dt-left{
    float: left;
    padding-left: 10px;
    font-size: 18px ;
    font-weight: 600;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .tour .tr-right{
    float: right;
    width:350px;
}

#header .hd-top .top-right  .nav_item_two .dropdown-map .tour .tr-right ul .icon_bj_one{
    background-position: -61px -9px;
    width:11px;
    height:11px;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .tour .tr-right ul .icon_bj_two{
    background-position: -41px -9px;
    width:11px;
    height:11px;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .discount{
    float: left;
    width:259px;
    border-right: 1px solid #f3f3f3;

}
#header .hd-top .top-right  .nav_item_two .dropdown-map .guide{
    float: left;
    width:259px;
    border-right: 1px solid #f3f3f3;
}
#header .hd-top .top-right  .nav_item_two .dropdown-map .service{
    float: left;
    width:259px;

}
#header .hd-top .top-right .weibo a,#header .hd-top .top-right .weixin a{
    margin-top:2px;
    width:18px;
    height:13px;
    display:inline-block;
}
#header .hd-top .top-right .weibo a{
    background-position:-40px -50px;
}
#header .hd-top .top-right .weibo a:hover{
    background-position:-85px -49px;
}
#header .hd-top .top-right .tel a{
    width:11px;
    height:26px;
    display:inline-block;
    background: url("../images/tel.gif") no-repeat;
    background-position: -10px 0;
}
#header .hd-top .top-right .weixin a{
    background-position:-63px -49px;
}
#header .hd-top .top-right .weixin a:hover{
    background-position:-91px -7px;
}


#header .hd-middle{
    height:92px;

}
#header .hd-middle .md-logo,#header .hd-middle .md-local,#header .hd-middle .md-search{
    margin-top: 20px;
    float:left;
}


#header .hd-middle .md-logo{
    width:170px;
    height: 55px;
    overflow: hidden;
}
#header .hd-middle .md-logo img{
    width:170px;
    height: 55px;
}
#header .hd-middle .md-local{
    width:110px;
    height: 37px;
    padding-top: 15px;
    padding-left: 20px;
}
#header .hd-middle .md-local .md-span{
    font-size:16px;
    width:90px;
    height:25px;
    color: #000;
    padding: 5px 0;
    display: block;
    position: relative;
    z-index: 101;
    border: 1px solid #ffffff;
    border-bottom: none;
}
#header .hd-middle .md-local .md-span:hover{
    border: 1px solid #f3f3f3;
}

#header .hd-middle .md-local .show_city{
    display:none;
    position: absolute;
    width:510px;
    height: 370px;
    z-index: 99;
    top:29px;
    background: #ffffff;
    border: 1px solid #f3f3f3;
}
#header .hd-middle .md-local .show_city #first_wd{
    width:480px;
    height:40px;
    padding-top: 8px;
    margin: auto;
    border-bottom: 1px solid #f3f3f3;
    font-size: 14px;
}
#first_wd li{
    float: left;
    width:70px;
    height: 32px;
    margin-top: 8px;
    line-height: 32px;
    cursor: pointer;
    text-align: center;

}
#first_wd .fw-hover{
    border-top: 2px solid orangered;
    background: #ffffff;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
#header .hd-middle .md-local .show_city #city_list{
    width:480px;
    height:330px;
    border-top: 1px solid #f3f3f3;
    margin: auto;
    padding:0 10px;
    font-size:13px ;

}
#city_list .city{
    display:none;
}
#header .hd-middle .md-local .show_city #city_list .city li{
    margin: 10px;
}
#header .hd-middle .md-local .show_city #city_list .area_left{
    float: left;
    color: #c9c9c9;
    margin: 8px;
}
#header .hd-middle .md-local .show_city #city_list .area_right{
    width:385px;
    float: right;
}
#header .hd-middle .md-local .show_city #city_list .area_right a{
    margin: 8px;
    display: inline-block;
}

#city_list .cl-hover{
    display:block;
}
#header .hd-middle .md-local .local_company{
    background: #f4f4f4;
    font-size :10px ;
    width: 61px;
    height: 16px;
    margin-top: -8px;
    margin-left: 4px;
    color: #bfbfbf;

}
#header .hd-middle .md-search{
    width: 570px;
    position: relative;
}
#header .hd-middle .md-search .search_box{
    width:500px;
    height: 36px;
    margin-top:10px;
    border:3px solid #FF8800;
    float: left;
}
#header .hd-middle .md-search .search_box .sh_left{
    width:95px;
    height:36px;
    float: left;
    line-height: 36px;
    background: #f3f3f3;
    border-right: 1px solid #dbdbdb;
}

#header .hd-middle .md-search .search_box .sh_left span{
    width:75px;
    height: 32px;
    padding-left:15px;
    color: #b3b3b3;
    background: #f3f3f3;

}
#header .hd-middle .md-search .search_box .sh_left .fa-chevron-down{
    padding-left: 3px;
    font-size: 9px;
}
#header .hd-middle .md-search .search_box .sh_left .spic{
    text-align: center;
    display:none;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
}
#header .hd-middle .md-search .search_box .sh_left .spic li{
    border: 1px solid #dedede;
    border-top: none;

}
#header .hd-middle .md-search .search_box .sh_right{
    float: right;
    width: 403px;
    height:36px;
    line-height: 36px;

}
#header .hd-middle .md-search .search_box .sh_right input[type='text']{
    float:left;
    width:330px;
    height: 33px;
    line-height: 33px;
    padding:0;
    padding-left: 2px;
    outline:none;
    border: none;
}
#header .hd-middle .md-search .search_box .sh_right input[type='submit']{
    width:71px;
    height: 36px;
    line-height: 36px;
    float: left;
    outline:none;
    border: none;
    background:#FF8800 url("../images/nav_bg.png") no-repeat;
    background-position:26px -175px;

}


#header .hd-middle .md-search .search_box .sh_right input[type='submit']:hover{
    background: #e77a00 url("../images/nav_bg.png") no-repeat;
    background-position:26px -175px;
}
#header .hd-middle .md-search .search_box  .sh_place{
    position: absolute;
    left:300px;
    top:23px;
}
#header .hd-middle .md-search .search_box  .sh_place li{
    width:26px;
    height: 16px;
    margin-left: 10px;
    border-radius: 30%;
    background: #e5e5e5;
    font-size: 10px;
    color: #a3a3a3;
    float: left;
    text-align: center;
}
#header .hd-middle .md-search  .high_sh{
    width: 58px;
    height: 32px;
    margin-top: 22px;
    margin-left: 3px;
    float: left;
}
#header .hd-middle .md-search  .high_sh .more_info{
    display: none;
    width:600px;
    height: 300px;
    padding: 20px;
    position: absolute;
    z-index: 105;
    top: 52px;
    left:0px;
    background: #ffffff;
    border: 2px solid #FF8800;
}
#header .hd-middle .md-search  .high_sh .more_info .mi-tit{
    width:80%;
    height:40px;
    border-bottom: 1px dotted #f3f3f3;
}
#header .hd-middle .md-search  .high_sh .more_info .mi-con{

}

#header .hd-middle .md-contact{
    margin-top:25px ;
    float:right;
    position: relative;
}
#header .hd-middle .md-contact img{
    width:206px;
    height: 55px;
}
#header .hd-middle .md-contact span{
    position: absolute;
    top:35px;
    left:32px;
    color:orangered;
    font-size: 16px;
    font-weight: 600;
}

#header .hd-menu{
    border-bottom: 2px solid #37C249;
}
#header .hd-menu .menu_box{
    /*background: #f3f3f3;*/
    height:35px;
    line-height:35px;

}

#header .hd-menu .menu_box .mb_left{
    width:200px;
    height:490px;
    float: left;
}
#header .hd-menu .menu_box .mb_left .mb_cate{
    position: absolute;
    background: #ffffff;
    z-index: 200;
}

#header .hd-menu .menu_box .mb_left .mb_cate .ct_tit{
    height:35px;
    background: #37C249;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_tit .menu{
    margin-left: 15px;
    display: inline-block;
    width:11px;
    height:9px;
    line-height:24px;
    background-position: -8px -26px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_tit span{
    text-align: center;
    margin-left: 6px;
    font-size: 16px;
    line-height:30px;
    font-weight: 500;
    color: #ffffff;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details{
    width: 198px;
    height:450px;
    border:1px solid #f3f3f3;
    border-top: none;
    position: relative;

}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details i{
    display: inline-block;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail{
    width: 191px;
    height:49px;
    margin: 0 ;
    margin-left: 7px;
    border-bottom:1px solid #f3f3f3;
    background: #ffffff;
}
/*#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .dt-li-one{*/
    /*background: red;*/
/*}*/
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail ul li{
    height:25px;
    vertical-align: middle;
    cursor: pointer;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .dt-li-two{
    height:16px;
    line-height: 20px;
    padding-left: 20px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .dt-li-two a{
    color: #949494;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .theme{
    width:16px;
    height: 17px;
    background-position:0 -122px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .theme:hover{
    background-position:-25px -122px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .bz{
    width:28px;
    height: 14px;
    background-position:0 -1644px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .jt{
    width:9px;
    height: 9px;
    background-position:0 -846px;
    margin-left: 60px;
    margin-top: 10px;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box{
    display: none;
    width:998px;
    height:450px;
    position: absolute;
    left:199px;
    top:0px;
    border: 1px solid #f3f3f3;
    background: #ffffff;

}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail  .hover{
    display: block;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-left{
    width:380px;
    padding:10px;
    float:left;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-left .dt-lt_tit{
    width:100%;
    height:29px;
    line-height:30px;
    border-bottom: 1px solid #f3f3f3;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-left .dt-lt_con{
    padding:10px 0;
    height: 380px;
    overflow: hidden;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-left .dt-lt_con  a{
    margin:2px 5px;
    text-align: left;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-right{
    width:598px;
    float:left;
    overflow: hidden;
}
#header .hd-menu .menu_box .mb_left .mb_cate .ct_details .ct_detail .ct-dt-box .ct-dt-right img{
    width:598px;
    height:450px;
}
#header .hd-menu .menu_box .mb_right{
    width:1000px;
    height:35px;
    float: right;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}
#header .hd-menu .menu_box .mb_right ul{

}
#header .hd-menu .menu_box .mb_right .mn-li{
    float: left;
    height:35px;
    line-height:35px;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    color:#2b8f08;
}
/*#header .hd-menu .menu_box .mb_right .mn-li .icon_tt{*/
    /*width: 12px;*/
    /*height:10px;*/
    /*display:inline-block;*/
    /*position: absolute;*/
    /*background-position:-77px -8px;*/
    /*top:30px;*/
    /*left:35px;*/
/*}*/
#header .hd-menu .menu_box .mb_right .mn-li:hover{
    background: #dcdcdc;
    color:orangered;

}
#header .hd-menu .menu_box .mb_right .mn-li>a{
    color:#2b8f08;
}

#header .hd-menu .menu_box .mb_right .mn-li .rt_down{
    display:none;
    width:105%;
    height:35px;
    color:#077c00;
    position: absolute;
    top:38px;
    left:-30px;
    background: #f0fff2;
    z-index: 199;

}
#header .hd-menu .menu_box .mb_right .mn-li .hover{
    display:block;
}
#header .hd-menu .menu_box .mb_right .mn-li .rt_down .down_box{
    width:1000px;
    margin-left: 230px;
}
#header .hd-menu .menu_box .mb_right .mn-li .rt_down .down_box span{
    margin: 7px 5px 0;
    padding: 5px;
    font-size:14px;
    height: 25px;
    inline-height: 25px;
}
#header .hd-menu .menu_box .mb_right .mn-li .rt_down .down_box span:hover{
    background:#077c00 ;
}
#header .hd-menu .menu_box .mb_right .mn-li .rt_down .down_box span:hover a{
    color: #ffffff;
}
#header .hd-menu .menu_box .mb_right .mn-li .rt_down .down_box a{
    color: #077c00;
}


#main{
    width:100% ;
    background: url("../images/guoqing.jpg") no-repeat ;
    margin-top: 3px;
}
#main .main_top,#main .main_middle{
    width:1200px;
    margin:auto;
}
#main .main_top{
    width:100%;
    height:550px;
}
#main .main_top .mn-tp-left{
    width:740px;
    height:500px;
    float: left;

}
#main .main_top .mn-tp-left .ad_big_imgs{
    width:100%;
    height: 350px;
    position: relative;
    z-index: 99;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad_big_img{
    display:none;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad-hover{
    display:block;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad_big_img img{
    width:100%;
    height:350px;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad_word{
    position: absolute;
    top:300px;
    left:10px;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad_word li{
    float: left;
    width:119px;
    height:30px;
    line-height:30px;
    background: rgba(255, 255, 255,0.7);
    margin-right: 1px;
    text-align: center;
    color:#000000;
}

#main .main_top .mn-tp-left .ad_big_imgs .ad_word .li-hover{
    background: rgba(0,0,0,0.7);
    color: #ffffff;
}
#main .main_top .mn-tp-left .ad_big_imgs .ad_word .li-hover a{
    color:#ffffff;

}
#main .main_top .mn-tp-left .ad_big_imgs .icon_pre{
    width:45px;
    height: 100px;
    position: absolute;
    top:125px;
    left:0;
    cursor: pointer;
}
#main .main_top .mn-tp-left .ad_big_imgs .icon_next{
    width:45px;
    height: 100px;
    position: absolute;
    top:125px;
    right:0;
    transform:rotate(180deg);
    cursor: pointer;
}
#main .main_top .mn-tp-left .ad_small_imgs{
    width:100%;
    height: 150px;
    overflow: hidden;
}
#main .main_top .mn-tp-left .ad_small_imgs li{
    float:left;
    width:100px;
    overflow: hidden;
}
#main .main_top .mn-tp-left .ad_small_imgs li img{
    position: relative;

}
#main .main_top .mn-tp-right{
    width:260px;
    height:500px;
    float: left;
    font-weight: 200;
}
#main .main_top .mn-tp-right .if-top{
    height: 230px;
}
#main .main_top .mn-tp-right .if-top .if-tp_one{
    width:240px;
    padding-left: 20px;
    padding-top: 10px;
    height: 65px;
    margin: auto;
    background: #ffffff url("../images/statis_bg.jpg") no-repeat right bottom;
}
#main .main_top .mn-tp-right .if-top .if-tp_one .item_satis{
    width:60px;
    height:60px;
    background:#f80 ;
    font-size: 12px;
    color: #ffffff;
    float: left;
}
#main .main_top .mn-tp-right .if-top .if-tp_one  .item_common{
    padding-top: 5px;
    width:170px;
    float:right;
    display: inline-block;
}
#main .main_top .mn-tp-right .if-top .if-tp_one  .item_common b{
    color:orangered;
}
#main .main_top .mn-tp-right .if-top .if-tp_one .item_satis label{
    display: inline-block;
    width:45px;
    height:13px;
    line-height:18px;
    text-align: center;
    padding:7px;
    font-size:12px;
    color: #fc9;
}
#main .main_top .mn-tp-right .if-top .if-tp_one .item_satis em{
    margin-left: 5px;
    font-size: 20px;
}
#main .main_top .mn-tp-right .if-top .if-tp_two{
    height: 75px;
    background:  #fff8ef;
}
#main .main_top .mn-tp-right .if-top .if-tp_two .yh_l,#main .main_top .mn-tp-right .if-top .if-tp_two .yh_r{
    width:12px;
    height: 12px;
    display: inline-block;
}
#main .main_top .mn-tp-right .if-top .if-tp_two .yh_l{
    float:left;
    padding-left: 0px;
    background-position:0 -228px ;
}
#main .main_top .mn-tp-right .if-top .if-tp_two .yh_r{
    float:right;
    padding-right: 10px;
    background-position:-17px -228px ;
}
#main .main_top .mn-tp-right .if-top .if-tp_two ul li{
    padding:8px 20px 6px;
    color:#666;
    font-size: 12px;
    height:16px;
    line-height:16px;
    font-weight: 200;
}

#main .main_top .mn-tp-right .if-top .if-tp_three{
    height: 80px;
    background: #ffffff;
}
#main .main_top .mn-tp-right .if-bottom{
    font-family: 'ËÎÌו';
    background: #ffffff;
    height: 270px;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_tit{
    width:100%;
    color: #666;
    font-size:14px;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_tit li{
    border-top: 1px solid #f3f3f3;
    text-align: center;
    width:63px;
    height:34px;
    line-height:33px;
    vertical-align: middle;
    background: #F7F7F7;
    float:left;
    cursor: pointer;
    font-weight: 200;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_tit .li-hover{
    background: #ffffff;
    border-top: 1px solid #37c249;
    color:#37c249;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con{
    width:250px;
    margin:0 auto;
    font-weight: 200;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .cn-con{
    display: none;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .con-hover{
    display: inline-block;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .cn-con input[type='radio']{
    margin: 11px 0;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .cn-con input[type='text']{
    margin: 3px 0;
    height:20px;
    outline: none;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .cn-con input[type='submit']{
    margin-left:53px;
    background: orange;
    border:none;
    color: #ffffff;
    font-size: 14px;
    width: 72px;
    height: 26px;
    outline: none;
    cursor: pointer;
}
#main .main_top .mn-tp-right .if-bottom .if-bm_con .cn-con span{
    color:#999;
}


#main .main_middle{
}
#main .main_middle .mn-md-left{
    width:916px;
    float:left;
}
#main .main_middle .mn-md-left .md-lf-showlist{
    width:100%;
    height: 520px;
    margin-bottom: 20px;
}
#main .main_middle .mn-md-left .md-lf-showlist .showlt_tit{
    width: 100%;
    height: 33px;
    border-bottom: 2px solid #517ac0;
}
#main .main_middle .mn-md-left .md-lf-showlist .showlt_tit h2{
    width:200px;
    height: 33px;
    line-height: 33px;
    float: left;
    font-size: 20px;
    font-weight: 500;
}
#main .main_middle .mn-md-left .md-lf-showlist .showlt_tit ul{
    width:716px;
    height: 33px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
#main .main_middle .mn-md-left .md-lf-showlist .showlt_tit ul li{
    width:80px;
    height: 33px;
    line-height: 33px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size:14px;
    font-weight: 500;
    margin-left: 15px;

}
#main .main_middle .mn-md-left .md-lf-showlist .showlt_tit ul .st-li-hover{
    background: #517ac0;
    color: #ffffff;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con{
    width:100%;
    height:484px;
    overflow: hidden;

}

#main .main_middle .mn-md-left .md-lf-showlist .show_first{
    background: url("../images/showlist_first.jpg") no-repeat 0,0;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left{
    width:200px;
    height:485px;
    float: left;
    position: relative;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left img{
    float: left;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left .cn-st-ad{
    width:176px;
    height: 230px;
    position: absolute;
    top:242px;
    left:22px;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left .cn-st-ad li{
    width: 150px;
    height:20px;
    line-height:20px;
    margin-bottom: 4px;
    padding-left: 26px;
    background: url("../images/jiuzhounian.png") no-repeat 0 -50px;

}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left .cn-st-ad .cn-st-ad_fli{
    margin-bottom: 12px;
    height:30px;
    line-height:30px;
    background: url("../images/jiuzhounian.png") no-repeat left top;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left .cn-st-ad  a{
    font-weight: 500;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-left .cn-st-ad  a:hover{
    color:#8d10c7;
}

#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right{
    width:699px;
    height:453px;
    float: left;
    padding: 20px 0 10px 16px;
    display:none;
    border: 1px solid #f3f3f3;
    border-top:0 ;
    border-left:0 ;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-two{
    height:430px;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .ri-hover{
    display:block;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right ul{
    width:100%;
    height: 20px;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri{
    width:200px;
    height:183px;
    float:left;
    margin:0 7px 5px 0;
    padding:10px 12px 20px 12px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    font-weight: 500;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_img{
    width:200px;
    height: 120px;
    position: relative;
    overflow: hidden;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_img img{
    width:200px;
    height: 120px;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_img .cn-ri_img_shadow{
    width:160px;
    height: 100px;
    padding: 10px 20px;
    line-height: 100px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    vertical-align: middle;
    text-align: center;
}

#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_con{
    width:200px;
    height: 36px;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_con li{
    margin: 5px 0;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_con span a{
    color:#999;
}
#main .main_middle .mn-md-left .md-lf-showlist  .showlt_con .st-cn-right .st-cn-ri .cn-ri_bottom{
    width:200px;
    height:18px;
    line-height: 18px;
    margin-top: 7px;
    font-family: 'ËÎÌו'
    font-weight:600;
    color:#f60;
    Letter-spacing:1px;
}

#main .main_middle .mn-md-right{
    width:260px;
    float: right;
    font-weight: 400;
    font-family: 'ËÎÌו';
}
#main .main_middle .mn-md-right .aside_box{
    width:260px;
    margin: 20px 0 30px 0;
    /*border: 1px solid #f3f3f3;*/
}
#main .main_middle .mn-md-right .aside_box .temai,#main .main_middle .mn-md-right .aside_box .huodong,#main .main_middle .mn-md-right .aside_box .hot_order{
    border: 1px solid #f3f3f3;
    margin: 10px 0;
}
#main .main_middle .mn-md-right .aside_box .temai .sale_img{
    width:230px;
    height: 340px;
    margin: auto;
    overflow: hidden;
}
#main .main_middle .mn-md-right .aside_box .temai .sale_img li,#main .main_middle .mn-md-right .aside_box .huodong li{
    margin: 5px 0;
}
#main .main_middle .mn-md-right .aside_box .temai .sale_img img{
    width:230px;
    height: 120px;
}
#main .main_middle .mn-md-right .aside_box .huodong li{
    width:230px;
    margin: auto;
    padding: 10px 0;
}

#main .main_middle .mn-md-right .aside_box .hot_order{
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_tit{
    width:100%;
    background:#e5e5e5 ;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_tit li{
    width:86px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
    cursor: pointer;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_tit .od-tit-hover{
    border-top: 1px solid #37c249;
    color: #37c249;
    background: #ffffff;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_cons{
    width:240px;
    margin: auto;
    padding:5px 0;
    display:none;
}
#main .main_middle .mn-md-right .aside_box .hot_order .od-con-hover{
    display:block;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .od{
    width:24px;
    height:30px;
    display: inline-block;
    position: absolute;
    top:-3px;
    left:-3px;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .order1{  background-position:0 -97px;  }
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .order2{  background-position:-34px -97px;  }
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .order3{  background-position:-66px  -97px;  }
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .order4{  background-position:-101px -97px;  }
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .order5{  background-position:-137px -97px;  }
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_left{
    float:left;
    width:70px;
    height:70px;
    border:1px solid #f3f3f3;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_right{
    float:right;
    width:160px;
    height:70px;

}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_right li{
    width:160px;
    height: 23px;
    line-height: 23px;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_right .cr-li_one{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_right .cr-li_two{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999999;
}
#main .main_middle .mn-md-right .aside_box .hot_order .order_con .con_right .cr-li_three{
    color: orange;
    text-align: right;
}

#main .main_middle .mn-md-right .aside_box .new_comment{
    width:220px;
    height:400px;
    background: #f3f3f3 url('../images/latest_comments_bg.gif') no-repeat 0 0;
    padding:20px;
    overflow: hidden;
}
#main .main_middle .mn-md-right .aside_box .new_comment .comment_list{
    width:190px;
    margin: auto;
    padding: 10px 15px;
    background: #ffffff;
}
#main .main_middle .mn-md-right .aside_box .new_comment .comment_list li{
    width:100%;
    line-height: 18px;
}
#main .main_middle .mn-md-right .aside_box .new_comment .comment_list .comment_tit{
    height: 15px;
    line-height: 15px;
    position: relative;
    padding-top:10px ;
}
#main .main_middle .mn-md-right .aside_box .new_comment .comment_list .icon_dot{
    display:inline-block;
    width:11px;
    height: 12px;
    position: absolute;
    background-position:-43px -228px;
    top:13px;
    left:-36px;
}
#main .main_middle .mn-md-right .aside_box .new_comment .comment_list .icon_arrow_left{
    display:inline-block;
    width:7px;
    height: 14px;
    position: absolute;
    background-position:-183px -171px;
    top:12px;
    left:-22px;
}
#main .main_middle .mn-md-right .aside_box .bank_box{
    width:260px;
    height:102px ;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box{
    width:88px;
    height:30px;
    line-height:30px;
    /*border-bottom: 1px dotted #f3f3f3;*/
    /*border-left: 1px dotted #f3f3f3;*/
    background: #F3F3F3;
    padding: 10px 20px;
    float: left;
}
#main .main_middle .mn-md-right .aside_box .bank_box  .as_box_one{
    height:28px;
    width:86px;
    border-top: 1px solid #F3F3F3;
    border-left: 1px solid #F3F3F3;
    border-right: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    position: relative;
}
#main .main_middle .mn-md-right .aside_box .bank_box  .as_box_one:hover{
    border: 1px solid green;
    border-bottom:none;
    background: #ffffff;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box i{
    width:40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_1{  background-position: -50px -296px;  }
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_2{  background-position: -92px -294px;  }
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_3{  background-position: -7px -297px;  }
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_4{  background-position:-140px -296px  }

#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down{
    display: none;
    width:255px;
    height:299px;
    position: absolute;
    z-index: 100;
    top:46px;
    left: -1px;
    background: #ffffff;
    border-left: 1px solid green;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down {
    width:255px;

}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down li{
    width:255px;
    height:98px;
    border-bottom: 1px solid #f3f3f3;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down li dl{
    width:153px;
    height: 15px;
    line-height: 14px;
    float: right;
    padding: 15px 0;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down li dl dd{
    margin: 2px 0;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down li dl button{
    background: orange;
    outline: none;
    border: none;
    width:70px;
    height: 26px;
    color: #fff;
}

#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down i{
    width:90px;
    height: 67px;
    display:block;
    margin: 15px 5px;
}
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down .bank_one{background-position: 0px -80px; float: left }
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down .bank_two{background-position: 0px -161px; float: left }
#main .main_middle .mn-md-right .aside_box .bank_box .as_box .credit_down .bank_three{background-position: 0px -230px; float: left }

#main .main_middle .mn-md-right .aside_box .activity{
    width:240px;
    margin: auto;
    padding: 20px 0;
}
#main .main_middle .mn-md-right .aside_box .activity li{
    width:100%;
    margin-top: 10px;
    border-bottom: 1px solid #f3f3f3;
}


#footer{

}
#footer .hezuo,.service,.questions,.fourImgs,.img_place,.foot_bottom,#footer .tl_helps{
    width:1200px;
    margin: auto;
    padding: 5px 0;
}
#footer .hezuo{
    height:380px;

}
#footer .hezuo .he-lists{
    width: 100%;
    position: relative;
    border: 1px solid #c3c3c3;
    /*background: url("../images/tourism_bg_lt.gif") ;*/
}
/*#footer .hezuo .he-lists .tourism_box_bg_lt{*/
    /*width:110px;*/
    /*height:70px;*/
    /*position: absolute;*/
    /*left:1px;*/
    /*top:0px;*/
    /*background: url("../images/tourism_bg_lt.gif") 0 0 no-repeat;*/
    /*z-index: -1;*/
    /*float: left;*/
/*}*/
/*#footer .hezuo .he-lists .tourism_box_bg_rb{*/
    /*width:200px;*/
    /*height:100px;.*/
    /*position: absolute;*/
    /*right:1px;*/
    /*bottom:1px;*/
    /*background: url("../images/tourism_bg_rb.gif") 0 0 no-repeat;*/
    /*/!*background: red;*!/*/
    /*z-index: -2;*/
/*}*/
#footer .hezuo .he-lists li{
    float: left;
    padding-left: 2px;
}

#footer .service{
    height:70px;
    line-height: 70px;
    border-bottom: 1px solid #f3f3f3;
}

#footer .service li{
    float: left;
    padding-left: 2px;
}

#footer .questions{
    height:160px;
    font-size: 14px;
    font-weight: 200;
}
#footer .questions .question{
    width:135px;
    height:140px;
    line-height:140px;
    float: left;
    padding-left: 40px;
}
#footer .questions .ques_last{
    width:250px;
    position: relative;
    padding-left:20px;
    border-radius: 20%;
    background: #F6F6F6;
    opacity: 0.6;
    font-size: 12px;
}
#footer .questions .question dd{
    line-height: 24px;
}
#footer .questions .question .que_dd{
    font-size: 14px;
    padding-left:30px;
    margin-top:10px;
    background: url("../images/common_foot.png") no-repeat;
    background-position: -211px -2px;
}
#footer .questions .question .serv_car{
    width: 96px;
    height: 66px;
    display: block;
    position: absolute;
    right: -40px;
    bottom: 0;
    background: url('../images/serv_24.png') no-repeat 0 0;
}
#footer .questions .question li{
    height: 24px;
    line-height: 20px;
}
#footer .questions .question .que_li{
    color:green;
}
#footer .questions .question a{
    color:#999;
}
#footer .travel_help{
    width:100%;
    height:150px;
    background: #f5f5f5;
    padding-top: 10px;
}
#footer .travel_help .tl_help{
    width:299px;
    height:130px;
    line-height: 130px;
    float: left;
    border-right: 1px dotted #616161;
}
#footer .travel_help .tl_help .ts_1{
    display: block;
    width: 50px;
    height: 50px;
    margin-left: 50px;
    overflow: hidden;
    float: left;
    background: url(../images/common_foot.png) no-repeat 0 -59px;

}
#footer .travel_help .tl_help  .ts_l_one{background-position: 0 0;}
#footer .travel_help .tl_help  .ts_l_two{background-position: -52px 0;}
#footer .travel_help .tl_help  .ts_l_three{background-position: -102px -1px;}
#footer .travel_help .tl_help  .ts_l_four{background-position:-102px -1px;}
#footer .travel_help .tl_help ul{
    float: right;
}
#footer .travel_help .tl_help ul li{
    width:160px;
    height: 20px;
    line-height: 20px;
    color: #cbcbcb;
    margin: 5px 0;
}
#footer .foot_nav{
    width:100%;
    height:70px;
    background: #60ca6e;
}
#footer .fourImgs{
    height:70px;

}
#footer .img_place{
    height:70px;

}
#footer .foot_bottom{
    height:250px;

}


#left_menu{  position: fixed;  z-index: 999;  top:200px;}
#left_menu ul li{font-size:14px; height:50px;line-height:20px;padding:2px;padding-top: 18px;width:36px;background: #f3f3f3;margin: 5px;cursor: pointer;text-align: center;  font-weight: 100;}
#left_menu .lt-hover{background: orange;color: #ffffff}

#right_menu{
    position: fixed;
    top:0px;
    right:0px;
    height:100%;
    background: #333;
    z-index: 999;
}
#right_menu .rm-top{
    width:40px;
    height:212px;

}
#right_menu .rm-top .rm-ad{
    height:170px;
    border-bottom:1px solid #3e3e3e ;
}
#right_menu .rm-top .rm-app{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #3e3e3e ;
}
#right_menu .rm-top .rm-app .icon_app{
    background-position: 5px 14px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#right_menu .rm-top .rm-app .icon_app:hover{
    background-position: -62px 14px;

}
#right_menu .rm-center{
    width:40px;
    height:300px;
}
#right_menu .rm-center .my_tuniu{
    border-bottom:1px solid #3e3e3e ;
    height:170px;
}
#right_menu .rm-center .heart,#right_menu .rm-center .order,#right_menu .rm-center .quan,#right_menu .rm-center .message{
    border-bottom:1px solid #3e3e3e ;
    width: 40px;
    height: 40px;
}
#right_menu .rm-center span,#right_menu .rm-bottom span{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
#right_menu .rm-center .icon_tuniu{    background-position:0px -36px  }
#right_menu .rm-center .icon_tuniu:hover{    background-position:-64px -36px }
#right_menu .rm-center .icon_heart{    background-position:6px -97px;  }
#right_menu .rm-center .icon_heart:hover{    background-position:-61px -97px;  }
#right_menu .rm-center .icon_order{    background-position: 8px -224px;  }
#right_menu .rm-center .icon_order:hover{    background-position:-61px -224px;  }
#right_menu .rm-center .icon_quan{    background-position:10px -288px;  }
#right_menu .rm-center .icon_quan:hover{    background-position: -59px -288px;  }
#right_menu .rm-center .icon_message{    background-position: 8px -785px  }
#right_menu .rm-center .icon_message:hover{    background-position: -60px -785px  }
#right_menu .rm-bottom{
    width:40px;
    position: absolute;
    bottom:20px;
}
#right_menu .rm-bottom .icon_editor{ background-position:9px -544px ;border-bottom:1px solid #3e3e3e ;}
#right_menu .rm-bottom .icon_editor:hover{ background-position: -60px -544px }
#right_menu .rm-bottom .icon_top{ background-position:10px -600px;border-bottom:1px solid #3e3e3e ; }
#right_menu .rm-bottom .icon_top:hover{ background-position: -59px -600px }

#ad_box{  width:100%;  position: fixed;  bottom:0;  z-index: 1000;  height: 150px; margin: auto;  background: rgba(0,0,0,0.5) bottom;  }
#ad_box .ad_close{  background: url("../images/ad_close.png") no-repeat;  width:39px;  height:39px;  margin-left: 100px;  transform:rotate(-0deg);  cursor: pointer;  }
